---
layout: markdown_page
title: "Secure & Enablement Quality Engineering team"
---

## On this page
{:.no_toc}

- TOC
{:toc}

Engineers in this team are embedded in the [Secure sub-department] and [Enablement sub-department].

## Areas of Responsibility

All stages under[Secure sub-department] and [Enablement sub-department].
* **[Secure stage]**
* **[Enablement stage]**
  * An emphasis on the performance of on-premise GitLab installations.

## Team members

<%= direct_team(manager_role: 'Interim Quality Engineering Manager, Secure & Enablement') %>

## Project Management

The global issue board for the team can be found here: [Quality - Secure & Enablement QE Team](https://gitlab.com/groups/gitlab-org/-/boards/978354)

[Secure sub-department]: /handbook/product/categories/#secure-sub-department
[Secure stage]: /handbook/product/categories/#secure-stage
[Enablement sub-department]: /handbook/product/categories/#enablement-sub-department
[Enablement stage]: /handbook/product/categories/#enablement-stage
