- unless production?
  User-agent: *
  Disallow: /
- else
  User-agent: *
  Disallow: /resources/downloads/
  Disallow: /forms/
  Disallow: /thank-you-for-registering/
  Disallow: /demo-leader/ # Temporary while we work on adding robots property to metadata
  Sitemap: #{data.site.url}/sitemap.xml
